<!DOCTYPE html>
<html lang="en" >
<head>
<title>
Login and Register
</title>
<link rel = "stylesheet" href = "passwordRenew.css">
</head>

<body> 



<div class = "form">
 
	<form action = "#" method = "post" name = "passwordRenewForm"  class = "register-form">
	
	
	<input type = "password" name = "password" placeholder = "PASSWORD"/>
	<input type = "password" name = "confirmPassword" placeholder = "CONFIRM PASSWORD"/>
	
	<button onclick = "RenewFunction()"> RENEW </button>
	
	</form>

	
	<video autoplay muted loop id="myVideo">
	<source src="Youtube Update- Download your Own .mp4 Videos - YouTube.mp4" type="video/mp4">
	</video>
	

 </div>
 
 </body>
 
 <script>
 function RenewFunction(){
 var password = document.forms["passwordRenewForm"]["password"].value;
 var confirmPassword = document.forms["passwordRenewForm"]["confirmPassword"].value;
 
  if (password == "") {
        alert("PASSWORD must be filled out");
        return false;
    }
	else if (confirmPassword == ""){
		alert("You need to confirm the password");
        return false;
	}
	else if (password != confirmPassword){
		alert("Passwords must match.");
		return false;
	}
	else {
	
	
	}
	

 
 
 
 }
 
	
	
 </script>
 
 </html>