<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/productmanagerstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/navbar.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




     <style>
        table {
           width:90%;
        }         
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            table-layout: fixed;
            word-wrap: break-word;
            width:120px; 
            height:30px;
            max-width:120px;
            min-width:120px; 
            max-height:30px; 
            min-height:30px;
        }
        th, td {
           
            padding: 10px;
            text-align: center;
        }
      table#t01 tr:nth-child(even) {
        background-color: #eee;
      }
      table#t01 tr:nth-child(odd) {
        background-color: #fff;
      }
      table#t01 th {
        background-color: #3d64af;
        color: white;
      }
      table#t02 tr:nth-child(even) {
        background-color: #eee;
      }
      table#t02 tr:nth-child(odd) {
        background-color: #fff;
      }
      table#t02 th {
        background-color: #3d64af;
        color: white;
      }
      table#t03 tr:nth-child(even) {
        background-color: #eee;
      }
      table#t03 tr:nth-child(odd) {
        background-color: #fff;
      }
      table#t03 th {
        background-color: #3d64af;
        color: white;
      }


  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid col-lg-offset-1 col-lg-10">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../indexproduct"><span id="logo-1">wonder<i class="fas fa-laptop"></i></i></span>PC</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
     
          <li><a data-toggle="modal" ><i class="fas fa-unlock-alt"></i> Product Manager</a></li>
          <li><a data-toggle="modal" href="../logout" ><i ></i> LOGOUT</a></li>
  </ul>
</div>
</div>
</nav>


                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="add" aria-selected="true">Add Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="remove" aria-selected="false">Remove Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="stock" aria-selected="false">Stock</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#what" role="tab" aria-controls="delivery" aria-selected="false">Delivery Department</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#what2" role="tab" aria-controls="category" aria-selected="false">Create New Category</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade" name="home" id="home" role="tabpanel" aria-labelledby="add-tab">

                             <form  method = "post" name = "registrationForm"  id="InsertForm" class = "register-form" >
                                <div id="allcats">
                                   <p id="title">Choose Product type:</p>
                               </div>

                               <div class="form-inline1">
                                   <p id="title">Enter Product Name:</p>
                                   <input type="text" name = "name" class="form-control" id="n">
                               </div>

                               <div class="form-inline1">
                                <p id="title">Enter Product Brand:</p>
                                <input type="text" name = "brand" class="form-control" id="b">
                            </div>

                            <div class="form-inline1">
                               <p id="title">Enter Product Model No:</p>
                               <input type="text" name = "modelno" class="form-control" id="mn">
                           </div>

                           <div class="form-inline1">
                               <p id="title">Enter Product Description:</p>
                               <input type="text" name = "description" class="form-control" id="desc">
                           </div>

                           <div class="form-inline1">
                               <p id="title">Enter Product Distributor:</p>
                               <input type="text" name = "distributor" class="form-control" id="dist">
                           </div>

                           <div class="form-inline1">
                               <p id="title">Enter Product Quantity:</p>
                               <input type="text" name = "quantity" class="form-control" id="q">
                           </div>

                           <div class="form-inline1">
                               <p id="title">Enter Product Warranty (Year):</p>
                               <input type="text" name = "warranty" class="form-control" id="w">
                           </div>

                           <div class="form-inline1">
                               <p id="title">Enter Product Raw Price ($):</p>
                               <input type="text" name = "rawprice" class="form-control" id="p"> <p> + TAX </p>
                           </div>

                           <div class="form-inline1">
                               <p id="title">Enter Product Selling Price ($):</p>
                               <input type="text" name = "price" class="form-control" id="p"> <p> + TAX </p>
                           </div>

                           <div class="form-inline1">
                            <button type="button" id = "addp" class="btn btn-primary">Add the product</button>
                        </div>
                    </form>
                </div>



                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="remove-tab">
                  <form  method = "post" name = "registrationForm"  class = "register-form" id="toFill2">
                   <input type="text" name = "model" placeholder="Enter Model Number to be removed" class="form-control" id="rmn">
                   <button type="button" id = "remove" class="btn btn-primary">Remove</button>                   
          
                   <input type="text" name = "search" placeholder = "Enter a keyword for specific search" class="form-control" id="ser">
                   <button type="button" id = "searchp" class="btn btn-primary">Search</button>
                   <button type="button" id = "allremoved" class="btn btn-primary">List All Products</button>
                   </form>
                  <div id="searchtablehere"> 
                  </div>             
               </div>


           <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="stock-tab">
            <form  method = "post" name = "registrationForm"  class = "register-form" id="toFill3">
               <input type="text" id = "stock" name = "mno" placeholder= "Enter Model Number to Change Stock" class="form-control" id="stock1">
               <input type="text"  name = "newstock" placeholder="Enter New Stock Value" class="form-control" id="stock2">
               <button type="button" id="change" class="btn btn-primary" >Change</button>             
               <input type="text" name = "search1" placeholder = "Enter a keyword for specific search" class="form-control" id="ser">
               <button type="button" id = "searchp1" class="btn btn-primary">Search</button>
               <button type="button" id = "allstock" class="btn btn-primary">List All Products</button>
            </form>
            <div id="searchtable1here"> 
           </div>      
           </div>

            <div class="tab-pane fade" id="what" role="tabpanel" aria-labelledby="delivery-tab">
              <ul class="nav nav-tabs" id="myTab2" role="tablist2">
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile1" role="tab" aria-controls="deliverl" aria-selected="true">Delivery List</a>
                </li>
              </ul>      
            </div>  


             <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="delivery-tab">
                <div class="form-inline2">
                  <button type="button" id ="showdeliveries" class="btn btn-primary">Show Deliveries</button>
                <div id="tablehere">
                </div>       
                </div>
            </div>

             <div class="tab-pane fade" id="what2" role="tabpanel" aria-labelledby="category-tab">
              <form  method = "post" name = "registrationForm"  class = "register-form" id="toFill4">
                <input type="text" name = "newcategory" placeholder = "Enter new category name" class="form-control" id="cat">
                <button type="button" id = "create" class="btn btn-primary">Create</button>
                <button type="button" id = "categoryshow" class="btn btn-primary">Show All Categories</button>
              </form>
              <div id="categorytable">
              </div>
            </div>  


   </div>
  
    <script type="text/javascript" src="javascripts/ajaxpmp.js"></script>   
   <script type="text/javascript" src="/javascripts/pmptable.js"></script>
</body>
</html>