.form{
	position:relative;
	z-index: 1;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
 	
}

.form input{
	font-family: "Roboto",sans-serif;
	outline: 1;
	background: #484848;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	
}

#myVideo {
    position: fixed;
    z-index: -2;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
	width:auto;
	height:auto;
	
}



.form button{
	font-family: "Verdana", sans-serif;
	text - transform: uppercase;
	outline: 0;
	background: #797979;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFF;
	font-size: 25px;
	cursor: pointer;
	
	
}

.form button:hover,.form button:active {
	background: lightblue;
}

.message {
	color: white;
	size: 150;
}
.form h2 {
	color: #ffffff;
	
}

.form i {
	z-index: 1;
	
}

